.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#setrow{
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em
}
#setrow button{
  margin-left: 1em
}
#curselect,#startdateselect,#enddateselect{
  display: flex;
  flex-direction: column;
  margin-left: 1em
}
#curselect span,#startdateselect span,#enddateselect span{
  margin-bottom: 0.2em
}